<template lang="pug">
Title 担当者編集
.edit-area
	RowText(
		label="ログインID"
		type="text"
		maxlength="30"
		autocomplete="on"
		errorField="email"
		v-model="loginidRef"
	)
	RowText.mg-t20(
		label="名前"
		type="text"
		maxlength="30"
		autocomplete="on"
		errorField="username"
		v-model="nameRef"
	)
	RowText.mg-t20(
		v-if="route.params.id == ''"
		label="パスワード"
		type="password"
		maxlength="20"
		autocomplete="current-password"
		errorField="password"
		v-model="passwordRef"
	)
	RowButton.mg-t20(
		v-if="route.params.id != ''"
		label="パスワード"
		button_label="パスワードを変更する"
		@activeClick="showPasswordChange"
	)
	.btn-area.mg-t20
		.left
			Btn(
				type="submit"
				mode="gray"
				@click="backButton"
			) 戻る
		.right
			Btn(
				v-if="route.params.id != ''"
				type="submit"
				mode="red"
				@click="deleteButton"
			) 削除
			Btn.mg-l10(
				type="submit"
				@click="saveButton"
			) 登録
	PopupPasswordChange(
		v-if="isPopupPasswordRef"
		:errors="getErrors"
		@closeButton="closePasswordChange"
		@passChangeTrue="closePasswordChange"
	)
</template>

<script setup lang="ts">
import Btn from "@/components/atoms/ColorButton.vue"
import Title from "@/components/atoms/Title.vue"
import ErrorLabel from "@/components/atoms/ErrorLabel.vue"
import RowText from "@/components/parts/RowText.vue"
import RowButton from "@/components/parts/RowButton.vue"
import PopupPasswordChange from "@/components/popup/PopupPasswordChange.vue"
import {ref} from "vue"
import {ApiClient} from "@/lib/http"
import {useRouter, useRoute} from 'vue-router'
import {useTest} from '@/store/store'
import {storeToRefs} from 'pinia'
const store = useTest()
const {getErrors} = storeToRefs(store)

const loginidRef = ref('');
const nameRef = ref('');
const passwordRef = ref('');
const isPopupPasswordRef = ref(false)
const router = useRouter();
const route = useRoute()

const backButton = () => {
	router.push('/member')
}

const getDetail = async() => {
	if (route.params.id !== '') {
		const api = new ApiClient();
		const result = await api.get('/user/detail/'+ route.params.id);
		loginidRef.value = result.result.result.detail.loginid
		nameRef.value = result.result.result.detail.name
	}

}
getDetail()

interface Param {
  loginid: string;
	name: string;
  password: string;
}

const saveButton = async () => {
  const api = new ApiClient();
  //fix:ログインのAPIと連携
  const param: Param = {
    loginid: loginidRef.value,
		name: nameRef.value,
    password: passwordRef.value,
  }
	if (route.params.id !== '') {
		param['id'] = route.params.id
	}
  const result = await api.post('/user/save', param);
  if (result.state === 200) {
    backButton();
  }
}

interface DeleteParam {
	id: string;
}
const deleteButton = async () => {
	if (confirm('削除しますか？')) {
		const api = new ApiClient();
		const param: DeleteParam = {
			id: String(route.params.id),
		};
		const result = await api.post('/user/delete', param);
		if (result.state === 200) {
			backButton();
		}
	}
}

const showPasswordChange = () => {
	isPopupPasswordRef.value = true;
}

const closePasswordChange = () => {
	isPopupPasswordRef.value = false;
}
</script>

<style lang="sass" scoped>
.edit-area
	margin: 0 auto
	width: 600px
	.btn-area
		display: flex
		justify-content: space-between

</style>