<template lang="pug">
Title 担当者一覧
HeaderButtonArea
  Btn(
    type="button"
    @click="newButton"
  ) 新規登録
Table
  thead
    tr
      th ID
      th ログインID
      th 名前
  tbody
    tr(v-for="user in listRef" :key="user.id" @click="selectRow(user)")
      td {{user.id}}
      td {{user.loginid}}
      td {{user.name}}
Pager(:pages="page" @click="changePager")
</template>

<script setup lang="ts">
import {ApiClient} from "@/lib/http"
import {ref} from "vue"
import {useRouter} from "vue-router"
import Btn from "@/components/atoms/ColorButton.vue"
import Title from "@/components/atoms/Title.vue"
import Table from "@/components/parts/Table.vue"
import Pager from "@/components/parts/Pager.vue"
import HeaderButtonArea from "@/components/parts/HeaderButtonArea.vue"

const page = ref({
  all: 0,
  all_page: 1,
  end: 0,
  next: 0,
  page: 1,
  pages: [0],
  start: 0
})

const listRef = ref({
  id: '',
  email: '',
  username: '',
});
const router = useRouter();

const getUser = async () => {
  const api = new ApiClient();
  const result = await api.get('/user/list/'+ page.value.page);
  listRef.value = result.result.list;
  page.value = result.result.pages;
  return listRef.value, page.value
}
getUser();

const changePager = (pageNum) => {
  page.value.page = pageNum
  getUser()
}

const newButton = async () => {
  router.push('/member/edit');
}
const selectRow = (user) => {
  router.push('/member/edit/' + user.id);
}
</script>

<style lang="sass" scoped>
</style>