<template lang="pug">
.page
	.title
		h1 404 Not Found
	.url {{ path }}
</template>
	
<script setup lang="ts">
	const path = document.URL
</script>
	
<style lang="sass">
.page
	height: 100vh
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	.title
		width: 100%
		display: flex
		justify-content: center
		h1
			font-size: 60px
	.url
		width: 100%
		display: flex
		justify-content: center
		font-size: 20px
</style>