<template lang="pug">
.login
  form(@submit.prevent="login")
    .title 社内メモ
    .input_area
      RowText(
        label="ログインID"
        type="text"
        maxlength="30"
        autocomplete="on"
        v-model="loginidRef"
      )
      RowText.mg-t20(
        label="パスワード"
        type="password"
        maxlength="20"
        autocomplete="current-password"
        v-model="passwordRef"
      )
      //- .loginid
      //-   .label ログインID
      //-   .input.mg-t10
      //-     TextBox(v-model="loginidRef" maxlength="30" autocomplete="on")
      //- .password.mg-t20
      //-   .label パスワード
      //-   .input.mg-t10
      //-     TextBox(v-model="passwordRef" type="password" maxlength="20" autocomplete="current-password")
      ErrorLabel(:errors="getErrors" fieldName="loginid")
      .btn.mg-t20
        Btn(
          type="submit"
          :disabled="disabledRef"
        ) ログイン
</template>

<script setup lang="ts">
import Btn from "@/components/atoms/ColorButton.vue"
import ErrorLabel from "@/components/atoms/ErrorLabel.vue"
import RowText from "@/components/parts/RowText.vue"
import {ref} from "vue";
import {useRouter} from "vue-router";
import {ApiClient} from "@/lib/http";
import {useTest} from '@/store/store'
import {storeToRefs} from 'pinia'

const store = useTest()
const {getErrors} = storeToRefs(store)

const loginidRef = ref('');
const passwordRef = ref('');
const disabledRef = ref(false);
const router = useRouter();
interface Param {
  loginid: string;
  password: string;
}
const login = async () => {
  disabledRef.value = true;
  const api = new ApiClient();
  //fix:ログインのAPIと連携
  const param: Param = {
    loginid: loginidRef.value,
    password: passwordRef.value,
  }
  const result = await api.post('/login', param);
  if (result.state === 200) {
    await store.setLoginState()
    router.push('/memo/');
  }

  disabledRef.value = false;
}
</script>

<style lang="sass" scoped>
.login
  height: 100vh
  width: 100vw
  display: flex
  justify-content: center
  align-items: center
  form
    width: 500px
    .title
      font-size: 36px
      font-family: 'Cherry Swash', cursive
      text-align: center
    .input_area
      margin-top: 20px
      .btn
        button
          width: 100%
          height: 48px
</style>