<template lang="pug">
.main
	PartsHeader
	.content
		.frame
			Menu
			.frame_area
				.mian_area
					router-view
</template>

<script setup lang="ts">
import PartsHeader from "@/components/parts/PartsHeader.vue"
import Menu from "@/components/parts/PartsMenu.vue"
</script>

<style lang="sass" scoped>
.main
	height: 100vh
	background-color: $color-gray
	.content
		background-color: #f2f2f2
		box-sizing: border-box
		padding-top: 65px
		.frame
			display: flex
			.frame_area
				// width: calc(100% - 240px)
				width: 100%
				padding-left: 240px
				flex: 1
				.mian_area
					padding: 30px 50px
					// Header65px, padding16px
					// height: calc(100vh - 65px)
					min-height: calc(100vh - 150px)
					// overflow-y: auto
</style>