$color-red: #c00
$color-gray: #f2f2f2
$color-border: #ddd
$color-white: #fff
$color-header-btn: #3d4451
$main-color: #1E508C

$font-size: 14px
$transition-time: 0.4s

// $main-color: #123464
$color-black: #111
// $color-gray: #707070
// $color-green: #e2efda
// $color-light-blue: #DDEBF7


// $font: "Yu Gothic", YuGothic, Meuryo, "M+ 1p", sans-serif
// $color-blue: #123464
$color-blue2: #1E508C
// $color-light-gray: #F2F2F2
$backgroundColor: #eceef1


html, body
  color: $color-black
// .red
//   background-color: #ec0303
// .gray
//   background-color: #454a54
a
  text-decoration: none
  color: black
ul
  padding: 0
  margin: 0
  li
    list-style-type: none
// h1
//   margin: 0

.mg-t10
  margin-top: 10px
.mg-t20
  margin-top: 20px
.mg-t30
  margin-top: 30px
.mg-t40
  margin-top: 40px
.mg-l10
  margin-left: 10px
.mg-l20
  margin-left: 20px
.mg-l30
  margin-left: 30px
.mg-l40
  margin-left: 40px

.pg-t10
  padding-top: 10px
.pg-t20
  padding-top: 20px
.pg-t30
  padding-top: 30px
.pg-t40
  padding-top: 40px
