<template lang="pug">
Popup.pop(
  @closeButton="emits('closeButton')"
  )
  p {{message}}
  .button
    ColorButton.gray(@click='$emit("no")') {{no_label}}
    ColorButton.red(@click='$emit("yes")') {{yes_label}}
</template>
<script setup lang="ts">
import Popup from '@/components/popup/PopupBase.vue';
import ColorButton from '@/components/atoms/ColorButton.vue';

interface Props {
  message?: string,
  yes_label?: string,
  no_label?: string,
}

const props = withDefaults(defineProps<Props>(), {
  message: '',
  yes_label: 'はい',
  no_label: 'いいえ',
});

interface Emits {
  (event: 'closeButton'): void
  (event: 'yes'): void
  (event: 'no'): void
}
const emits = defineEmits<Emits>();
</script>

<style lang="sass" scoped>
.pop
  p
    text-align: center
    font-weight: bold
    font-size: 18px
  .button
    display: flex
    justify-content: center
    .red
      margin-left: 20px
</style>