<template lang="pug">
.popup(
  @click.self="closeButton"
)
  .popup_base(
    :class="{is_menu: props.isMenu}"
    @mousedown="changeSkip(true)"
    @mouseup="changeSkip(false)"
  )
    slot
    .close_button(
      v-if="props.showCloseButton"
      @click="closeButton"
    )
</template>

<script setup lang="ts">
  import {ref} from "vue";

//Props型を定義
interface Props {
  showCloseButton?: boolean,
  isMenu?: boolean,
}

//デフォルト値を設定
const props = withDefaults(defineProps<Props>(), {
  showCloseButton: false,
  isMenu: false,
});


interface Emits {
  (event: 'closeButton'): void
}
const emits = defineEmits<Emits>();

//ポップアップを閉じる
const skipRef = ref(false);
const changeSkip = (flg) => {
  skipRef.value = flg;
}
const closeButton = () => {
  if (skipRef.value) {
    skipRef.value = false;
    return
  }
  emits('closeButton');
}
</script>

<style lang="sass" scoped>
.popup
  position: fixed
  height: 100%
  width: 100%
  top: 0
  left: 0
  background-color: rgba(0, 0, 0, 0.4)
  display: flex
  justify-content: center
  align-items: center
  z-index: 100
  .popup_base
    position: relative
    background-color: white
    padding: 40px
    min-width: 300px
    border-radius: 10px
    max-width: calc( 100% - 20% )
    .close_button
      position: absolute
      top: 26px
      right: 18px
      width: 30px
      height: 30px
      cursor: pointer
      transition: $transition-time
      &:hover
        opacity: 0.6
      &:before
        content: ""
        display: block
        width: 30px
        height: 1px
        border-top: solid 1px #000
        transform: rotate(-45deg)
        margin: -1px 0
      &:after
        content: ""
        display: block
        width: 30px
        height: 1px
        border-top: solid 1px #000
        transform: rotate(45deg)
  .popup_base.is_menu
    min-width: 200px
    padding: 8px
    top: 30px
    right: 30px
</style>