<template lang="pug">
Popup.popup_menu(
  @closeButton="emits('closeButton')"
  :isMenu="true"
  )
  .menu_list
    ul
      li(@click="linkClick") アカウント設定
      li(@click="emits('logout')") ログアウト
</template>

<script setup lang="ts">
import Popup from '@/components/popup/PopupBase.vue'
import {useTest} from '@/store/store'
import {storeToRefs} from 'pinia'
import {useRouter} from 'vue-router'
import {ref} from "vue";

interface Emits {
  (event: 'closeButton'): void
  (event: 'logout'): void
}
const emits = defineEmits<Emits>();

const store = useTest()
const idRef = ref(0);
const {getLoginState} = storeToRefs(store)
const getStatus = async () => {
  const statusData = await getLoginState.value
  idRef.value = statusData.detail.user_id
}
getStatus()
const to = "/users/edit/"
const router = useRouter();
const linkClick = () => {
  emits('closeButton')
  router.push(to+idRef.value);
}
</script>

<style lang="sass" scoped>
.popup_menu
  justify-content: flex-end
  align-items: flex-start
  .menu_list
    ul
      padding: 0
      margin: 0
      cursor: pointer
      li
        padding: 8px 15px
        transition: $transition-time
        &:hover
          opacity: 0.4
</style>