<template lang="pug">
Popup.popup_menu(
  @closeButton="emits('closeButton')"
  :isMenu="true"
  :showCloseButton="true"
  )
  .main_list
    TextLabel(label="パスワード変更") 
    TextBox.text(type="password" v-model="param.password")
    ErrorLabel(:errors="errors" fieldName="password")
    .btn
      ColorButton.button(@click='passChange') 変更
</template>

<script setup lang="ts">
import Popup from '@/components/popup/PopupBase.vue'
import TextLabel from "@/components/atoms/TextLabel.vue"
import ColorButton from "@/components/atoms/ColorButton.vue"
import TextBox from "@/components/atoms/TextBox.vue"
import ErrorLabel from "@/components/atoms/ErrorLabel.vue"
import {ApiClient} from "@/lib/http"
import {useRoute} from 'vue-router'
import {ref} from "vue";

interface Props {
  errors?: object
}
const props = defineProps<Props>();

interface Emits {
  (event: 'closeButton'): void
  (event: 'passChangeTrue'): void
}
const emits = defineEmits<Emits>();
const route = useRoute()
const id = parseInt(route.params.id[0]);
const param = ref({id:id, password:''})

const passChange = async () =>{
  const api = new ApiClient();
  const data = await api.post('/user/change_password', param.value);
  if (data.state == 200) {
    alert('パスワードが変更されました')
    emits('passChangeTrue')
  }
}
</script>

<style lang="sass" scoped>
.main_list
  margin: 30px
  .text
    margin: 0 0 0 0
  .btn
    display: flex
    justify-content: center
    margin-top: 20px
    .button
      padding: 5px 30px

</style>