<template lang="pug">
.card
	.title {{ props.memo.title }}
	Tag(:tags="props.memo.tags" @selectTag="selectTag")
</template>

<script setup lang="ts">
import Tag from "@/components/atoms/Tag.vue"
interface Props {
  memo: any,
}
const props = withDefaults(defineProps<Props>(), {
	memo: {},
})

interface Emits {
  (event: 'selectTag', tag: string): void
}
const emits = defineEmits<Emits>();
const selectTag = (tag: string) => {
	emits('selectTag', tag)
}
</script>

<style lang="sass" scoped>
.card
	background-color: $color-white
	padding: 20px
	transition: .4s
	cursor: pointer
	&:hover
		box-shadow: 0 0 10px rgba(0,0,255,0.2)
	.title
		font-size: 18px
		font-weight: bold
</style>