<template lang="pug">
label
  input(type="checkbox" v-model="changeValue" :value="props.value" :disabled="props.disabled" )
  span(:class="{color_red: props.colorRed}") {{props.label}}
</template>

<script setup lang="ts">
import { computed, withDefaults } from "vue";
interface Props {
  label?: string,
  value?: string | number | boolean,
  modelValue?: string | number | boolean,
  disabled?: boolean,
  colorRed?: boolean,
}

//デフォルト値を設定
const props = withDefaults(defineProps<Props>(), {
  label: '',
  value: '',
  modelValue: '',
  disabled: false,
  colorRed: false,
});

interface Emits {
  (event: 'update:modelValue', valie: string | number | boolean): void
}
const emits = defineEmits<Emits>();

const changeValue = computed({
  get: () => props.modelValue,
  set: (value) => {
    emits('update:modelValue', value);
  },
});
</script>

<style lang="sass" scoped>
$left_margin: 25px
label
  cursor: pointer
  display: flex
  align-items: center
  input
    display: none
    &+span
      position: relative
      margin-left: $left_margin
      &:before
        content: " "
        border: solid 1px $color-border
        width: 20px
        height: 20px
        border-radius: 2px
        position: absolute
        left: -$left_margin
        background-color: $color-white
      &:after
        position: absolute
        transition: .4s
        border-left: solid 0px
        border-bottom: solid 0px
    &+span.color_red
      &:before
        background-color: red
    &:checked
      &+span
        &:after
          left: calc(4px - $left_margin)
          top: 5px
          content: " "
          border-left: solid 3px $main-color
          border-bottom: solid 3px $main-color
          transform: rotate(-45deg)
          height: 6px
          width: 11px
</style>