<template lang="pug">
button(
  :class="props.mode"
  @click.stop="emits('click')"
)
  slot
</template>

<script setup lang="ts">
//Props型を定義
interface Props {
  type?: 'button' | 'submit',
  mode?: 'normal'
}

//デフォルト値を設定
const props = withDefaults(defineProps<Props>(), {
  type: 'button',
  mode: 'normal',
})

//emits
const emits = defineEmits(['click']);
</script>

<style lang="sass" scoped>
button
  background-color: $color-blue2
  color: white
  padding: 5px 15px
  // font-weight: bold
  position: relative
  font-size: 14px
  transition: $transition-time
  cursor: pointer
  border: none
  border-radius: 4px
  box-shadow: 1px 2px 6px rgba(0, 0, 0, .15)
  &.gray
    background-color: $color-gray
    color: $color-black
  &.red
    background-color: $color-red
  &:hover
    opacity: 0.6
  &:disabled
    background-color: $backgroundColor
    cursor: default
    pointer-events: none
.red
  background-color: red
</style>