<template lang="pug">
DatePicker(
  v-model="dateChange"
  :format="'yyyy-MM-dd'"
  locale="jp"
  :enableTimePicker="false"
  weekStart="0"
  auto-apply
  )
</template>

<script setup lang="ts">
import DatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css'
import {computed} from "vue"

interface Props {
  modelValue?: string,
}
const props = withDefaults(defineProps<Props>(), {
  modelValue: '',
})

//emits
interface Emits {
  (event: 'update:modelValue', value: string): void
}
const emits = defineEmits<Emits>();
const dateChange = computed({
  get: () => props.modelValue,
  set: (value) => {
    emits('update:modelValue', value);
  },
});

</script>

<style lang="sass" scoped>
</style>