<template lang="pug">
.error(v-if="message != ''") {{message}}
</template>

<script setup lang="ts">
import {ref, watch} from "vue"
interface Props {
  errors?: object
  fieldName?: string
}
const props = defineProps<Props>();

const message = ref('');

watch(
  () => props.errors,
  () => {
    setErrors(props.errors)
  },
)
const setErrors = (val, parentKey = '') => {
  if (!parentKey) {
    message.value = ''
  }
  for (const key in val) {
    const row = val[key]
    if (typeof row[0] == 'object') {
      setErrors(row[0], parentKey + key + '.')
    } else {
      if ((parentKey + key) == props.fieldName) {
        message.value = row[0]
        break
      }
    }
  }
  }

</script>

<style lang="sass" scoped>
.error
  margin: 0
  color: $color-red
</style>