<template lang="pug">
.file(:id="dropAreaName")
  input.image(type="file" style="display: none" ref="input" accept="image/jpeg, image/png, image/jpg, image/gif" @change="selectFile()")
  img.image(v-if="!isId" @click="btnClick" :src="url")
  img.image(v-if="isId" @click="btnClick" :src="imgSrc")
  .dropping(v-if="isDropping") 画像をドロップして登録
</template>

<script setup lang="ts">
import {ref, computed, onMounted} from "vue"
import {useRoute} from 'vue-router'

interface Props {
  imgSrc: string,
}
const props = defineProps<Props>();

interface Emits {
  (event: 'file', valie: object): void
}
const emits = defineEmits<Emits>();

const reader = new FileReader()
const getFileData = (file) => {
  // ファイルURL取得
  reader.readAsDataURL(file)
  // 読み込み成功後に動く 中身のデータを取得
  reader.onload = (e) =>{
    const param = {name: file.name, src: e.target.result}
    emits('file', param);
  }
}

const route = useRoute()
const id = parseInt(route.params.id[0]);
const isId = ref(false);
if ((id) > 0) {
  isId.value = true
}

const url = ref({});
const input = ref();
const btnClick = () => {
  input.value.click()
}
const selectFile = async (event) => {
    const file = input.value.files[0]
    url.value = URL.createObjectURL(file)
    const logData = await getFileData(file)
    isId.value = false
  }
  

const dragOverTimer = ref();
const dropping = ref(false);
const dropAreaName = ref('drop_area');
const isDropping = computed(() => dropping.value);
onMounted(() => {
  const ctrl = document.querySelector('#' + dropAreaName.value)
  ctrl.addEventListener('dragstart', (e) => {
    dropping.value = true;
  }, false);
  ctrl.addEventListener('dragover', (e) => {
    e.preventDefault()
    dropping.value = true;
    if (dragOverTimer.value) {
      clearTimeout(dragOverTimer.value)
    }
    dragOverTimer.value = setTimeout(()=>{
      dropping.value = false
    },200)
    }, false);
    ctrl.addEventListener('drop', (event) => {
    const e = event as DragEvent
    e.preventDefault()
    dropping.value = false;
    if (e.dataTransfer.files.length == 0) {
      return
    }
    setImage(e.dataTransfer.files[0])

  }, false);
})

const setImage = (file) => {
  reader.readAsDataURL(file)
  reader.onload = (e) =>{
    const param = {src: e.target.result, name: file.name}
    emits('file', param);
    url.value = URL.createObjectURL(file)
    isId.value = false
  }
}
</script>
  
<style lang="sass" scoped>
.file
  width: 100%
  height: 100%
  position: relative
.image
  background-color: #FFF
  width: 250px
  height: 250px
  border: $color-border 1px solid
  border-radius: 2px
.dropping
  position: absolute
  width: 250px
  height: 250px
  top: 0px
  left: 0px
  background-color: rgba(0, 0, 0, 0.5)
  display: flex
  justify-content: center
  align-items: center
  color: $color-white
  font-size: 15px
  letter-spacing: 4px
</style>