<template lang="pug">
div(v-html="markdownToHtml()")
</template>

<script setup lang="ts">
import MarkdownIt from 'markdown-it'

interface Props {
	markdownText: string
}
const props = defineProps<Props>()

const md = new MarkdownIt()
const markdownToHtml = () => {
	return md.render(props.markdownText)
}
</script>

<style lang="sass" scoped>
</style>