<template lang="pug">
label.radio
  input.radio_btn(
  type="radio"
  v-model="v"
  :name="name"
  :value="value"
  @change="changeValue"
  :checked="modelValue == value"
  :disabled="disabled")
  span {{label}}
</template>
<script setup lang="ts">
import {ref} from "vue";

const v = ref('');
interface Props {
  value?: string,
  name?: string,
  label?: string,
  modelValue?: string,
  disabled?: boolean,
}
const props = defineProps<Props>();

interface Emits {
  (event: 'update:modelValue', value: string): void
}
const emits = defineEmits<Emits>();

const changeValue = (e) => {
  let value = ''
  if (e.target.checked) {
    value = props.value
  }
  emits('update:modelValue', value)
}
</script>
<style lang="sass" scoped>
label.radio
  cursor: pointer
input
  cursor: pointer
span
  margin: 5px
</style>
