<template lang="pug">
label 
  select(:value="props.modelValue" v-model="handleChange" :disabled="disabled") {{ modelValue }}
    option(v-for="row, k in props.values" :key="k" :value="row[props.valueKey]") {{row[props.nameKey]}}
</template>

<script setup lang="ts">
import { computed } from "vue";
type valuesType = {[key: string]: string};
interface Props {
  values?: Array<valuesType>,
  nameKey?: string,
  valueKey?: string,
  modelValue?: string,
  disabled?: boolean
}
const props = withDefaults(defineProps<Props>(), {
  values: () => [],
  nameKey: 'name',
  valueKey: 'id',
  modelValue: '',
  disabled: false,
});

interface Emits {
  (event: 'update:modelValue', valie: string): void
}
const emits = defineEmits<Emits>();

const handleChange = computed({
  get: () => props.modelValue,
  set: (value) => {
    emits('update:modelValue', value);
  },
});
</script>

<style lang="sass" scoped>
select
  font-size: $font-size
  width: 100%
  box-sizing: border-box
  box-shadow: none
  padding: 7px 12px
  border-radius: 2px
  border: 1px solid $color-border
  color: $color-black
  font-smoothing: antialiased
  background-color: #FFF
label
  position: relative
  &::after
    content: ""
    width: 7px
    height: 8px
    position: absolute
    right: 6px
    top: 6px
    pointer-events: none
    background-image: url('@/assets/select.png')
</style>