<template lang="pug">
.tag_list 
	.tag(v-for="tag, i in props.tags" :key="i" @click.stop="selectTag(tag)") {{ tag }}
</template>

<script setup lang="ts">
interface Props {
	tags: any,
}
const props = withDefaults(defineProps<Props>(), {
	tags: {},
})

interface Emits {
  (event: 'selectTag', tag: string): void
}
const emits = defineEmits<Emits>();
const selectTag = (tag) => {
	emits('selectTag', tag)
}
</script>

<style lang="sass" scoped>
.tag_list
	display: flex
	margin-top: 10px
	.tag
		font-size: 12px
		padding: 4px 6px
		color: $main-color
		cursor: pointer
		transition: .5s
		&:hover
			color: $color-white
			background-color: $main-color
			border-radius: 5px
		&::before
			content: "#"
</style>