<template lang="pug">
textarea(:value="modelValue"  @input="$emit('update:modelValue', $event.target.value)" :placeholder="placeholder" :maxlength="maxlength")
</template>

<script setup lang="ts">
import { withDefaults } from "vue";
interface Props {
  placeholder?: string,
  maxlength?: string,
  modelValue?: string,
}

const props = withDefaults(defineProps<Props>(), {
  placeholder: '',
  maxlength: '',
  modelValue: '',
});
</script>

<style lang="sass" scoped>
textarea
  font-size: $font-size
  width: 100%
  height: 100%
  box-sizing: border-box
  padding: 7px 12px
  border-radius: 2px
  border: 1px solid $color-border
  color: $color-black
  font-smoothing: antialiased
  box-sizing: border-box
  background-color: #FFF
</style>