<template lang="pug">
input(:type="props.type" :placeholder="props.placeholder" :maxlength="props.maxlength" v-model="textChange" :max="max")
</template>

<script setup lang="ts">
import { computed, withDefaults } from "vue";
//Props型を定義
interface Props {
  placeholder?: string,
  type?: string,
  maxlength?: string,
  modelValue?: string,
  max?: string,
  autocomplete?: string,
}

//デフォルト値を設定
const props = withDefaults(defineProps<Props>(), {
  placeholder: '',
  type: 'text',
  maxlength: '',
  modelValue: '',
  max: '',
  autocomplete: 'on',
});

//emits
interface Emits {
  (event: 'update:modelValue', value: string): void
}
const emits = defineEmits<Emits>();

const textChange = computed({
  get: () => props.modelValue,
  set: (value) => {
    emits('update:modelValue', value);
  },
});
</script>

<style lang="sass" scoped>
input
  font-size: $font-size
  width: 100%
  // box-sizing: border-box
  box-shadow: none
  padding: 7px 12px
  border-radius: 2px
  border: 1px solid $color-border
  color: $color-black
  font-smoothing: antialiased
  box-sizing: border-box
  background-color: #FFF
</style>