<template lang="pug">
label {{ props.label }}
  span(v-if="props.isRequired") *
  span.description(v-if="props.description") {{ props.description }}
</template>
  
<script setup lang="ts">
interface Props {
  label?: string,
  description?: string,
  isRequired?: boolean,
}
const props = withDefaults(defineProps<Props>(), {
  label: '',
  description: '',
  isRequired: false,
});
</script>

<style lang="sass" scoped>
label
  color: #444
  display: inline-block
  font-size: 14px
  font-weight: 700
  margin-bottom: 3px
  span
    margin-left: 5px
    color: $color-red
  .description
    color: #777

</style>