<template lang="pug">
Title メモ編集
.edit-area
	.col
		RowText(
			label="タイトル"
			type="text"
			maxlength="50"
			autocomplete="on"
			errorField="title"
			v-model="titleRef"
		)
		RowText.mg-t10(
			label="タグ"
			type="text"
			maxlength="100"
			autocomplete="on"
			errorField="tags"
			v-model="tagRef"
		)
		label
			input(type="checkbox" value="1" v-model="shareRef")
			span 自分のみが閲覧できる
		RowTextArea.textarea(
			errorField="contents"
			v-model="memoRef"
		)
		.btn-area.mg-t20
			.left
				Btn(
					type="submit"
					mode="gray"
					@click="backButton"
				) 戻る
			.right
				Btn(
					v-if="route.params.id != ''"
					type="submit"
					mode="red"
					@click="deleteButton"
				) 削除
				Btn.mg-l10(
					type="submit"
					@click="saveButton"
				) 登録
	.col 
		Markdown.markdown(:markdownText="memoRef")
</template>

<script setup lang="ts">
import Btn from "@/components/atoms/ColorButton.vue"
import Title from "@/components/atoms/Title.vue"
import ErrorLabel from "@/components/atoms/ErrorLabel.vue"
import Markdown from "@/components/atoms/Markdown.vue"
import RowText from "@/components/parts/RowText.vue"
import RowTextArea from "@/components/parts/RowTextArea.vue"
import {ref} from "vue"
import {ApiClient} from "@/lib/http"
import {useRouter, useRoute} from 'vue-router'
import {useTest} from '@/store/store'
import {storeToRefs} from 'pinia'
const store = useTest()
const {getErrors} = storeToRefs(store)

const titleRef = ref('')
const tagRef = ref('')
const memoRef = ref('')
const shareRef = ref(false)
const router = useRouter()
const route = useRoute()

const backButton = () => {
	router.push('/memo')
}

const getDetail = async() => {
	if (route.params.id !== '') {
		const api = new ApiClient();
		const result = await api.get('/memo/detail/'+ route.params.id);
		titleRef.value = result.result.result.detail.title
		memoRef.value = result.result.result.detail.contents
		if (result.result.result.detail.share_flg === '0') {
			shareRef.value = true
		}
		for(let i = 0; i < result.result.result.detail.name.length; i++) {
			let spliter = ''
			if (i > 0) {
				spliter = ' '
			}
			tagRef.value += spliter + result.result.result.detail.name[i].name
		}
	}

}
getDetail()

interface Param {
  title: string;
	contents: string;
  share_flg?: string;
	tags?: string[];
}

const saveButton = async () => {
  const api = new ApiClient();
  const param: Param = {
    title: titleRef.value,
		contents: memoRef.value,
  }
	param.share_flg = '1'
	if (shareRef.value) {
		param.share_flg = '0'
	}

	param.tags = tagRef.value.split(' ')
	if (route.params.id !== '') {
		param['id'] = route.params.id
	}
  const result = await api.post('/memo/save', param);
  if (result.state === 200) {
    backButton();
  }
}

interface DeleteParam {
	id: string;
}
const deleteButton = async () => {
	if (confirm('削除しますか？')) {
		const api = new ApiClient();
		const param: DeleteParam = {
			id: String(route.params.id),
		};
		const result = await api.post('/memo/delete', param);
		if (result.state === 200) {
			backButton();
		}
	}
}
</script>

<style lang="sass" scoped>
.edit-area
	margin: 0 auto
	display: flex
	justify-content: center
	.col
		width: 50%
		display: flex
		flex-direction: column
		margin: 0 5px
		.btn-area
			display: flex
			justify-content: space-between
		.textarea
			margin-top: 10px
			width: 100%
			height: calc(100vh - 420px)
			box-sizing: border-box
		.markdown
			height: calc(100vh - 190px)
			overflow-y: auto
		label
			margin-top: 10px

</style>