<template lang="pug">
Title メモ一覧
.search_area
	.row
		.col 
			.label タイトル
			.input
				TextBox(v-model="titleRef")
		.col 
			.label タグ
			.input
				TextBox(v-model="tagRef")
		.col
			.label ユーザー
			.input
				SelectBox(:values="userListRef" nameKey="name" valueKey="id" v-model="userRef")
		.col
			CheckBox(label="共有していないもののみを表示" value="1" v-model="myselfRef")
	.btn-area.mg-t20
		.left
			Btn(
				type="button"
				@click="searchButton"
			) 検索
		.right
			Btn(
				type="button"
				@click="clearButton"
			) クリア
HeaderButtonArea
	Btn(
		type="button"
		@click="newButton"
	) 新規登録
.card_list
	Card.card(
		v-for="memo in listRef"
		:key="memo.id"
		@click="selectRow(memo)"
		@selectTag="selectTag"
		:memo="memo")
Pager(:pages="page" @click="changePager")
//- div(v-html="markdownToHtml(loginidRef)")
//- div {{ loginidRef }}
</template>

<script setup lang="ts">
import {ApiClient} from "@/lib/http"
import {ref} from "vue"
import {useRouter} from "vue-router"
import RowText from "@/components/parts/RowText.vue"
import TextBox from "@/components/atoms/TextBox.vue"
import Card from "@/components/atoms/Card.vue"
import Btn from "@/components/atoms/ColorButton.vue"
import Title from "@/components/atoms/Title.vue"
import CheckBox from "@/components/atoms/CheckBox.vue"
import SelectBox from "@/components/atoms/SelectBox.vue"
import Pager from "@/components/parts/Pager.vue"
import HeaderButtonArea from "@/components/parts/HeaderButtonArea.vue"
import {useTest} from '@/store/store'
import {storeToRefs} from 'pinia'

const page = ref({
  all: 0,
  all_page: 1,
  end: 0,
  next: 0,
  page: 1,
  pages: [0],
  start: 0
})

const listRef = ref({
  id: '',
  user_id: '',
  title: '',
	share_flg: true,
	tags: [],
})
const userListRef = ref([])
const titleRef = ref('')
const tagRef = ref('')
const userRef = ref('')
const myselfRef = ref(false)
const router = useRouter()

const init = () => {
	const store = useTest()
	const {getMemoSearch} = storeToRefs(store)
	if (getMemoSearch.value) {
		titleRef.value = getMemoSearch.value.title
		tagRef.value = getMemoSearch.value.tag
		userRef.value = getMemoSearch.value.user_id
		myselfRef.value = getMemoSearch.value.share_flg == '0' ? true : false
	}
}
init()

const getUserList = async() => {
	const api = new ApiClient()
	const userResult = await api.get('/user/list/s')
	const users = userResult.result.list
	const array = []
	array.push({id: '', name: ''})
	for (let i = 0; i < users.length; i++) {
		array.push({id: users[i].id, name: users[i].name})
	}
	userListRef.value = array
}
getUserList()

const getMemo = async () => {
	const api = new ApiClient()
	const param = {
		title: titleRef.value,
		tag: tagRef.value,
		user_id: userRef.value,
		share_flg: myselfRef.value ? '0' : '1',
	}
	const store = useTest()
	store.setMemoSearch(param)

  const result = await api.post('/memo/list/'+ page.value.page, param)
  listRef.value = result.result.data.result.list
  page.value = result.result.data.result.page
  return listRef.value, page.value
}
getMemo()

const changePager = async (pageNum) => {
  page.value.page = pageNum
  getMemo()
}

const newButton = async () => {
  router.push('/memo/edit');
}
const selectRow = (memo) => {
  router.push('/memo/edit/' + memo.id);
}
const clearButton = async () => {
	titleRef.value = ''
	tagRef.value = ''
	userRef.value = ''
	myselfRef.value = false
	await getMemo()
}
const selectTag = async (tag) => {
	tagRef.value = tag
	await getMemo()
}
const searchButton = () => {
	getMemo()
}
</script>

<style lang="sass" scoped>
.search_area
	border: solid 1px $color-header-btn
	background-color: #fff
	border-radius: 4px
	margin-bottom: 20px
	padding: 20px
	.row
		display: flex
		align-items: center
		.col
			width: 50%
			display: flex
			align-items: center
			padding: 2px 10px
			.label
				width: 100px
			.input
				width: 100%
	.btn-area
		display: flex
		justify-content: right
		.left
			margin-right: 10px
.card_list
	display: flex
	flex-wrap: wrap
	.card
		width: 200px
		margin: 4px
</style>