<template lang="pug">
.btn
  .left
    span(title="見積書ダウンロード")
      Icon.icon(icon="material-symbols:download" @click="pdfDownload" v-if="isEdit") 
    span(title="複製")
      Icon.copyIcon(icon="material-symbols:file-copy-outline-rounded" @click="emits('copyClick')" v-if="isEdit") 
  .right
    .subtotal
      p 小計 <span class="bold">{{priceTotal.toLocaleString()}}</span> 円
    .tax
      p 消費税 <span class="bold">{{taxTotal.toLocaleString()}}</span> 円
    .border
    .total
      p 合計
      p.cal {{total.toLocaleString()}}
      p 円
    ColorButton.gray(@click="$emit('save')" :class="{save_btn: disabled}")
      slot
</template>

<script setup lang="ts">
import ColorButton from "@/components/atoms/ColorButton.vue"
import { Icon } from '@iconify/vue'
import {ApiClient} from "@/lib/http"

interface Props {
  priceTotal?: number
  taxTotal?: number
  total?: number
  isEdit: boolean
  estimate_no: string
  disabled: boolean
}
const props = defineProps<Props>();

interface Emits {
  (event: 'copyClick'): void
}
const emits = defineEmits<Emits>();


const pdfDownload = async () => {
  const api = new ApiClient();
  const estimate_no = props.estimate_no
  let mitumoriNumber = estimate_no
  if (estimate_no.includes('見')) {
    mitumoriNumber = estimate_no.substr(1)
  }
  const param = {
    estimate_no: mitumoriNumber,
  }
  await api.post('/estimate/pdf', param);
  window.open('/_api/estimate/export_pdf');
}
</script>

<style lang="sass" scoped>
.btn
  background-color: #DDD
  border: 1px solid #BBB
  bottom: -1px
  box-sizing: border-box
  height: 80px
  padding: 15px 24px
  display: flex
  justify-content: space-between
  position: fixed
  width: calc(100% - 240px)
  right: 0
  .left
    .icon
      width: 45px
      height: 45px
      margin-right: 10px
      cursor: pointer
    .copyIcon
      width: 35px
      height: 45px
      margin-right: 10px
      cursor: pointer
  .right
    display: flex
  p
    font-size: 18px
  .bold
    font-weight: bold
    font-size: 23px
    margin: auto 0px
  .subtotal
    display: flex
    margin: 0 10px
    p
      width: 100%
  .tax
    display: flex
    margin: 0 30px
    p
      width: 100%
  .border
    border-right:1px solid #999
  .total
    display: flex
    font-weight: bold
    margin-left: 30px
    .cal
      border-bottom: dotted 2px #AAA
      width: 100%
      text-align: right
      padding: 0 10px
    p
      font-size: 25px
      &:nth-child(1)
        width: 100px
      &:nth-child(3)
        width: 100px

  button
    width: 400px
    border-radius: 5px
    font-weight: 700
    font-size: 20px
    margin-right: 30px
.save_btn
  pointer-events: none
  opacity: 0.5
</style>