<template lang="pug">
.top
  .page_sub_title {{title}} {{subTitle}}
  .forms
    slot
</template>

<script setup lang="ts">
interface Props {
  title?: string,
  subTitle?: string
}
const props = withDefaults(defineProps<Props>(), {
  title: '',
  subTitle: '',
});
</script>

<style lang="sass" scoped>
.page_sub_title
  background-color: $color-gray
  color: #FFF
  font-size: 20px
  font-weight: 700
  line-height: 1.3em
  padding: 10px 0px 10px 30px
  border-radius: 5px
  margin-bottom: 20px
.forms
  padding: 0 50px
</style>