<template lang="pug">
.pager_area(v-if="props.pages.all_page > 1")
	.prev(:class="{none: props.pages.page <= 1}" @click.stop="emits('click', props.pages.page - 1)")
		| &lt;
	.pager(
		v-for="page in props.pages.pages"
		:key="page"
		:class="{active: page == props.pages.page}"
		@click.stop="emits('click', page)"
	) {{ page }}
	.next(:class="{none: props.pages.next != 1}" @click.stop="emits('click', props.pages.page + 1)")
		| &gt;
</template>

<script setup lang="ts">
interface Props {
	pages: any
}

const props = withDefaults(defineProps<Props>(), {
	pages: {
		all: 0,
		all_page: 0,
		end: 0,
		next: 0,
		page: 0,
		pages: {},
		start: 0
	}
});

const emits = defineEmits(['click']);
</script>

<style lang="sass" scoped>
.pager_area
	margin-top: 10px
	display: flex
	justify-content: center
	align-items: center
	div
		margin: 0 5px
		cursor: pointer
		width: 30px
		height: 30px
		border-radius: 100px
		display: flex
		justify-content: center
		align-items: center
		background-color: $color-black
		color: $color-white
		transition: $transition-time
		&:hover
			background-color: $color-blue2
	.active
		background-color: $color-blue2
		cursor: auto
		pointer-events: none
	.none
		background-color: $color-gray
		color: $color-gray
		pointer-events: none
</style>