<template lang="pug">
.menu
  nav
    .sub_title システムメニュー
    .group
      ul
        li.bold(
          :class="{active: route.path.indexOf('/memo/') != -1}"
        )
          router-link(to="/memo/") 
            .text メモ
    .sub_title マスタ管理
    .group
      ul
        li.bold(
          :class="{active: route.path.indexOf('/member/') != -1}"
        )
          router-link(to="/member/") 
            .text 担当者管理
</template>

<script setup lang="ts">
import {useRoute} from "vue-router"
const route = useRoute()
</script>

<style lang="sass" scoped>
.menu
  position: fixed
  width: 240px
  min-width: 240px
  background-color: #FFF
  height: calc(100vh - 65px)
  nav
    height: 100%
    .sub_title
      padding: 4px 16px
      color: #a5a9af
      font-size: 12px
      height: 24px
      box-sizing: border-box
      background-color: #FFF
    .group
      max-height: calc(50% - 24px)
      overflow-y: auto
      ul
        li.bold
          font-weight: bold
        li
          transition: 0.4s
          &:hover
            background-color: $color-gray
          a
            display: block
            height: 100%
            width: 100%
            padding: 12px 16px
            box-sizing: border-box
        li.active
          background-color: $color-gray
          a
            cursor: default
</style>