<template lang="pug">
header
  h1
    router-link(to="/estimates") 社内メモ
  .user
    button.circle(
      @click="isMenuRef = true"
    ) {{ nameRef }}
  PopupMenu(
    v-if="isMenuRef"
    @closeButton="isMenuRef = false"
    @logout="logout"
  )
</template>

<script setup lang="ts">
import {ref} from "vue";
import {useRouter} from "vue-router";
import PopupMenu from '@/components/popup/PopupMenu.vue';
import {useTest} from '@/store/store'
import {storeToRefs} from 'pinia'
import type {ResponseData} from "@/types/common";
import {ApiClient} from "@/lib/http"

const nameRef = ref('');
const store = useTest()
const sRef = ref({});

const getStatus = async () => {
  const {getLoginState} = storeToRefs(store)
  nameRef.value = (await getLoginState.value).detail.name.charAt(0)
}
getStatus()

const isMenuRef = ref(false);

const router = useRouter();
const logout =  async () => {
  const api= new ApiClient()
  await api.get('/logout');
  router.push('/');
}
</script>

<style lang="sass" scoped>
header
  z-index: 10
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap
  padding: 8px
  width: 100%
  border-bottom: 1px solid $color-border
  box-sizing: border-box
  position: fixed
  top: 0
  left: 0
  background-color: #FFF
  h1
    margin: 0
    a
      padding-left: 6px
      font-size: 30px
      line-height: 2.25rem
  .user
    height: 48px
    width: 48px
    button
      height: 100%
      width: 100%
      cursor: pointer
      background-color: $color-header-btn
      border: 1px solid $color-header-btn
      border-radius: 999px
      color: $color-white
      transition: $transition-time
      display: flex
      align-items: center
      justify-content: center
      font-weight: bold
      font-size: 26px
      &:hover
        opacity: 0.6
</style>