<template lang="pug">
.row
	.label
		span {{label}}
	.input
		Btn(
			type="button"
			@click="activeButton"
		) {{ button_label }}
</template>

<script setup lang="ts">
import { computed, withDefaults } from "vue";
import ErrorLabel from "@/components/atoms/ErrorLabel.vue"
import {useTest} from '@/store/store'
import {storeToRefs} from 'pinia'
import Btn from "@/components/atoms/ColorButton.vue"
const store = useTest()
const {getErrors} = storeToRefs(store)

interface Props {
  button_label?: string,
	label?: string,
}

interface Emits {
  (event: 'activeClick'): void
}
const emits = defineEmits<Emits>();
//デフォルト値を設定
const props = withDefaults(defineProps<Props>(), {
  button_label: '',
	label: '',
});

const activeButton = () => {
	emits('activeClick')
}
</script>

<style lang="sass" scoped>
.row
	.label
		display: flex
		text-align: left
</style>