<template lang="pug">
.row
	.label
		ErrorLabel.mg-l10(:errors="getErrors" :fieldName="props.errorField")
	.input
		TextArea.textarea(
			v-model="textChange"
			:maxlength="props.maxlength"
			:placeholder="props.placeholder"
			:max="props.max"
			:type="props.type"
			:autocomplete="props.autocomplete"
		)
</template>

<script setup lang="ts">
import { computed, withDefaults } from "vue";
import TextArea from "@/components/atoms/TextArea.vue"
import ErrorLabel from "@/components/atoms/ErrorLabel.vue"
import {useTest} from '@/store/store'
import {storeToRefs} from 'pinia'
const store = useTest()
const {getErrors} = storeToRefs(store)

interface Props {
  placeholder?: string,
  type?: string,
  maxlength?: string,
  modelValue?: string,
  max?: string,
	label?: string,
  autocomplete?: string,
	errorField?: string,
}

//デフォルト値を設定
const props = withDefaults(defineProps<Props>(), {
  placeholder: '',
  type: 'text',
  maxlength: '',
  modelValue: '',
  max: '',
	label: '',
	autocomplete: 'on',
	errorField: '',
});

//emits
interface Emits {
  (event: 'update:modelValue', value: string): void
}
const emits = defineEmits<Emits>();

const textChange = computed({
  get: () => props.modelValue,
  set: (value) => {
    emits('update:modelValue', value);
  },
});
</script>

<style lang="sass" scoped>
.row
	.label
		display: flex
		text-align: left
	.input
		height: 100%
		.textarea
			height: 100%
</style>