<template lang="pug">
.btn
  ColorButton.gray(@click="$emit('save')") 
    slot
</template>

<script setup lang="ts">
import ColorButton from "@/components/atoms/ColorButton.vue"
</script>

<style lang="sass" scoped>
.btn
  background-color: #DDD
  border: 1px solid #BBB
  bottom: -1px
  box-sizing: border-box
  height: 80px
  padding: 15px 24px
  display: flex
  justify-content: center
  position: fixed
  width: calc(100% - 240px)
  right: 0
  button
    width: 500px
    border-radius: 5px
    font-weight: 700
    font-size: 20px
</style>