<template lang="pug">
.flex
  v-table
    thead
      tr
        th(id="target" v-for="label in labels" :key="label.name" style="text-align: center") {{label.name}}
    tbody(v-if="list.length > 0")
      tr(v-for="item in list" :key="item.name")
        td(v-for="label in labels" :key="label.name") {{item[label.key]}} 
          span(:style="label.addstyle") {{item[label.addFontKey]}}
          .button
            ColorButton.gray(v-if="label.isBtn" @click="$emit('editClick', item.id)") 編集
            ColorButton.red(v-if="label.isBtn" @click="$emit('deleteClick', item.id)") 削除
          .select 
            SelectBox(v-if="label.isSelect" :values="labels[props.labels.length - 1].value" v-model="companyIdRef")
.text-center.page
  v-pagination(
      v-model="page.page"
      :length="page.all_page"
      :total-visible="6"
      rounded="circle"
      @click="pageClick"
      )
</template>

<script setup lang="ts">
import ColorButton from "@/components/atoms/ColorButton.vue"
import SelectBox from '@/components/atoms/SelectBox.vue'
import {ref} from "vue"
interface Props {
  page?: {
    all: number,
    all_page: number,
    end: number,
    next: number,
    page: number,
    pages: Array<number>,
    start: number
  },
  labels: any
  list: object
}
const props = defineProps<Props>();
interface Emits {
  (event: 'editClick'): void
  (event: 'deleteClick'): void
  (event: 'pageClick'): void
}
const emits = defineEmits<Emits>();
const companyIdRef = ref('');

const pageClick = () => {
  window.scroll({top: 0, behavior: 'smooth'})
  emits('pageClick')
}
</script>

<style lang="sass" scoped>
.flex
  margin-bottom: 10px
td
  text-align: center
  &:nth-last-child(1)
    width: 170px
.button
  .red
    margin-left: 10px
</style>