<template lang="pug">
table
	slot
</template>

<script setup lang="ts">
</script>

<style lang="sass">
table
  width: 100%
  border: solid 1px $color-border
  border-collapse: collapse
  background-color: $color-white
  tr
    transition: $transition-time
    th, td
      padding: 5px 10px
      border: solid 1px $color-border
  tbody
    tr
      &:nth-child(2n+1)
        background-color: $backgroundColor
      &:hover
        cursor: pointer
        background-color: $color-blue2
        color: $color-white
</style>
